<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>VRP Cr3w</title>
  <meta name="author" content="VRP Cr3w" />
  <meta name="description" content="Waterloo Engineering Challenge - Fall 2014">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="WEC2014/WEC2014/static/img/favicon.ico">
  <link href='https://fonts.googleapis.com/css?family=tangerine|Raleway|Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="WEC2014/WEC2014/static/css/app.css"/>
  <link rel="stylesheet" href="WEC2014/WEC2014/static/css/autocomplete.css"/>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body ng-controller="PageCtrl" ng-init="initialize()">

<!--   <div class="autocomplete" ng-hide="elements.length">
    <i class="fa fa-2x"
      ng-class="{'fa-spinner fa-spin': (subreddits.length < 1 && !noAutocomplete), 'fa-search': (subreddits.length || noAutocomplete)}">
    </i>
    <input type="text" autocomplete
    autofocus="true"
    ng-model="searchParam"
    placeholder="Search for a Subreddit"
    ng-focus="focused = true"
    ng-blur="blur()">
    <ul ng-show="searchParam.length > 0 && focused" class="suggestions">
      <li
      ng-repeat="suggestion in subreddits | filter:searchParam | orderBy:'toString()' | limitTo:10 track by $index"
      val="{{suggestion}}"
      ng-class="{ 'active': $index == selectedIndex }"
      ng-click="submitSubreddit(suggestion)"
      ng-bind-html="suggestion | highlight:searchParam">
      </li>
    </ul>
  </div> -->


  <div class="slide panel panel-left">
    <h3 class="panel-title">Input</h3>
    <div class="uploadDiv">
      <h4>Upload Map:</h4>
      <input type="file" fileread map="true" />
    </div>
    <div id="map" ng-show="map"></div>
    <div class="uploadDiv">
      <h4>Upload Requests:</h4>
      <input type="file" fileread />
    </div>
    <div>
      <h5 class="headquarters">Headquarters: (
        <input class="inputCoord" type="number" ng-model="headquarterX" ng-show="!inputData.deliveryHeadquarter.x" autofocus />
        {{inputData.deliveryHeadquarter.x}},
        <input class="inputCoord" type="number" ng-model="headquarterY" ng-show="!inputData.deliveryHeadquarter.y" />
        {{inputData.deliveryHeadquarter.y}})
      </h5>
      <i class="fa fa-plus-square addPoint" ng-click="addHeadquarter()" ng-show="!inputData.deliveryHeadquarter.x"></i>
      <table>
      <tbody>
        <tr><td>#</td><td>Dropoff</td><td>Pickup</td></tr>
        <tr ng-repeat="request in inputData.requests ">
          <td><h3>{{request.id}}</h3></td>
          <td class="cell-background">
            <small class="label label-username">
              <i class="fa fa-suitcase"></i>({{request.dropoff.x}}, {{request.dropoff.y}})
            </small>
          </td>
          <td class="cell-background">
            <small class="label label-comments">
              <i class="fa fa-taxi"></i>({{request.pickup.x}}, {{request.pickup.y}})
            </small>
          </td>
          <td class="cell-background">
            <small class="label label-comments">
              <i class="fa fa-dollar"></i>{{request.deliveryFee}}
            </small>
          </td>
        </tr>
        <tr>
          <td>
            <!-- <h3 class="fade">{{inputData.requests.length + 1}}</h3> -->
            <i class="fa fa-plus-square addPoint" ng-click="addPoint()"></i>
          </td>
          <td class="cell-background">
           <small class="label label-username">
             <i class="fa fa-suitcase"></i>(
             <input class="inputCoord" type="number" ng-model="requestDropoffX" />,
             <input class="inputCoord" type="number" ng-model="requestDropoffY" />)
           </small>
          </td>
          <td class="cell-background">
           <small class="label label-comments">
             <i class="fa fa-taxi"></i>(
             <input class="inputCoord" type="number" ng-model="requestPickupX" />,
             <input class="inputCoord" type="number" ng-model="requestPickupY" />)
           </small>
          </td>
          <td class="cell-background">
            <small class="label label-comments">
              <i class="fa fa-dollar"></i>
              <input class="inputCoord" type="number" ng-model="requestFee" />
            </small>
          </td>
        </tr>
      </tbody>
      </table>
    </div>
    <button class="submit" ng-click="submit()">Submit</button>
  </div>

  <div class="slide panel panel-right">
    <h3 class="panel-title">Output</h3>
    <div>
      {{output}}
    </div>
  </div>

<!--   <div class="footer" ng-class="{'relative': elements.length > 1}">
    <a class="website" href="http://jackforbes.net" target="_blank">
      <i class="fa fa-user"></i>
    </a>
    <a class="github" href="https://github.com/JackForbes/Pebble" target="_blank">
      <i class="fa fa-github-square"></i>
    </a>
    <a class="linked-in" href="http://ca.linkedin.com/in/greaturl/" target="_blank">
      <i class="fa fa-linkedin-square"></i>
    </a>
  </div> -->

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-touch.min.js"></script>
  <script src="WEC2014/WEC2014/static/js/app.js"></script>
  <script src="WEC2014/WEC2014/static/js/services.js"></script>
  <script src="WEC2014/WEC2014/static/js/controllers.js"></script>
  <script src="WEC2014/WEC2014/static/js/filters.js"></script>
  <script src="WEC2014/WEC2014/static/js/directives.js"></script>
</body>
</html>
